

html, body {

  margin: 0;

  padding: 0;

  font-family: 'Poppins', sans-serif;

  

  overflow-x: hidden;

}
/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 144px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
.bhoechie-tab-container .card {
    padding: 0;
    width: 100%;
    height: auto;   
    border-style: none;
    margin: 0px;
}
/* .bhoechie-tab-container .card img {
width: 100%;
height: auto;
} */
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #0d6a8d;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #0d6a8d;
  font-size: 14px;
  border-color: #0d6a8d;
  background-image: #5A55A3;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #0d6a8d;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 10px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

   

.ui-widget-content {
    border: 1px solid #bdc3c7;
    background: #e1e1e1;
    color: #222222;
    margin-top: 4px;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width:4.0em;
    height:1.6em;
    cursor: default;
    margin: 0 -20px auto !important;
    text-align: center; 
    line-height: 20px;
    color: #FFFFFF;
    font-size: 16px;
}

.ui-slider .ui-slider-handle .glyphicon {
    color: #FFFFFF;
    margin: 0 3px; 
    font-size:10px;
    opacity: 0.5;
}

.ui-corner-all {
    border-radius: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    border: 1px solid #f9f9f9;
    background: #3498db;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.5em;
}

.ui-slider .ui-slider-handle {
    cursor: pointer;
}

.ui-slider a,
.ui-slider a:focus {
    cursor: pointer;
    outline: none;
}

.price-slider {
    margin-bottom: 1px;
}

.price-slider span {
    font-weight: 200;
    display: inline-block;
    color: #7f8c8d;
    font-size: 13px;
}
.top-buffer { margin-top: 5px; margin-bottom: 5px;}
@media only screen and (max-width: 767.98px) {

	.bhoechie-tab-container .card img {
		width: 300px;
		height: 320px;
  }
  div.bhoechie-tab-content .col-md-9 {
    margin-left: -4%;
    
}

	}
  @media only screen and (max-width: 992px) and (min-width: 768px) {
	
    div.bhoechie-tab-menu div.list-group>a.active, div.bhoechie-tab-menu div.list-group>a.active .glyphicon, div.bhoechie-tab-menu div.list-group>a.active .fa {
      background-color: #0d6a8d;
      font-size: 12px;
      border-color: #0d6a8d;
      background-image: #5A55A3;
      color: #ffffff;
  }
  div.bhoechie-tab-menu div.list-group>a {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
}
  
  }
  @media only screen and (max-width: 1349px) and (min-width: 1170px) {
	
    div.bhoechie-tab-menu div.list-group>a.active, div.bhoechie-tab-menu div.list-group>a.active .glyphicon, div.bhoechie-tab-menu div.list-group>a.active .fa {
      background-color: #0d6a8d;
      font-size: 14px;
      border-color: #0d6a8d;
      background-image: #5A55A3;
      color: #ffffff;
  }
  div.bhoechie-tab-menu div.list-group>a {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
}
  
  }
  .bullet-faqs{
    width: 8px; 
    height: auto;
  }